<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Big_Data_Pyspark_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkExample.com').getOrCreate()

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=87248c55bdfdf3607698f9c20ac1028fd5ec8715d4ffd178508736b61fb9e6f0
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
dfs = spark.read.csv("/content/Data Science Jobs Salaries.csv")
dfs.show()

+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|      _c0|             _c1|            _c2|                 _c3|   _c4|            _c5|          _c6|               _c7|         _c8|             _c9|        _c10|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
|    2021e|              EN|             FT|Data Science Cons...| 54000|            EUR|        64369|                DE|          50|              DE|           L|
|     2020|              SE|             FT|      Data Scientist| 60000|            EUR|        68428|                GR|         100|              US|           L|
|    2021e|              EX|             FT|Head of Data Science| 85000|            USD|        85000|                RU|           0|              RU|           M|
|    2021e|              EX|             FT|        Head of Data|230000|            USD|       230000|                RU|          50|              RU|           L|
|    2021e|              EN|             FT|Machine Learning ...|125000|            USD|       125000|                US|         100|              US|           S|
|    2021e|              SE|             FT|Data Analytics Ma...|120000|            USD|       120000|                US|         100|              US|           M|
|     2020|              MI|             FT|  Research Scientist|450000|            USD|       450000|                US|           0|              US|           M|
|     2020|              MI|             FT|        Data Analyst| 41000|            EUR|        46759|                FR|          50|              FR|           L|
|     2020|              MI|             FT|       Data Engineer| 65000|            EUR|        74130|                AT|          50|              AT|           L|
|    2021e|              SE|             FT|Data Science Engi...|159500|            CAD|       127543|                CA|          50|              CA|           L|
|    2021e|              SE|             FT|Manager Data Science|144000|            USD|       144000|                US|         100|              US|           L|
|    2021e|              EN|             FT|      Data Scientist| 13400|            USD|        13400|                UA|         100|              UA|           L|
|    2021e|              MI|             FT|      Data Scientist| 95000|            CAD|        75966|                CA|         100|              CA|           L|
|    2021e|              MI|             FT|      Data Scientist|150000|            USD|       150000|                US|         100|              US|           M|
|     2020|              MI|             FT|Data Science Cons...|103000|            USD|       103000|                US|         100|              US|           L|
|    2021e|              SE|             FT|Data Engineering ...|153000|            USD|       153000|                US|         100|              US|           L|
|    2021e|              MI|             FT|       Data Engineer| 90000|            USD|        90000|                US|         100|              US|           L|
|    2021e|              EN|             FT|        Data Analyst| 90000|            USD|        90000|                US|         100|              US|           S|
|    2021e|              EN|             FT|        Data Analyst| 60000|            USD|        60000|                US|         100|              US|           S|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

In [ ]:
data = [["21adr015","banu","kec","ai",88,98],
        ["21adr021","kavi","psg","it",90,95],
        ["21adr054","preethi","kec","aiu",77,80],
        ["21adr099","saran","kec","cse",99,65],
        ["21adr009","ram","kec","ai",79,65],
        ["21adr091","jeeva","psg","cse",99,65],
        ["21adr039","ramya","kec","it",50,80],
        ["21adr018","karan","psg","cse",67,75],
        ["21adr027","vino","kec","it",88,87],
        ["21adr087","sathish","kec","cse",57,54],
        ["21adr053","karthi","kec","it",88,90],
        ["21adr001","abi","psg","ai",95,63]]

In [ ]:
code = ['id','name','college','dept','sub1','sub2']
df = spark.createDataFrame(data,code)
df.show()

+--------+-------+-------+----+----+----+
|      id|   name|college|dept|sub1|sub2|
+--------+-------+-------+----+----+----+
|21adr015|   banu|    kec|  ai|  88|  98|
|21adr021|   kavi|    psg|  it|  90|  95|
|21adr054|preethi|    kec| aiu|  77|  80|
|21adr099|  saran|    kec| cse|  99|  65|
|21adr009|    ram|    kec|  ai|  79|  65|
|21adr091|  jeeva|    psg| cse|  99|  65|
|21adr039|  ramya|    kec|  it|  50|  80|
|21adr018|  karan|    psg| cse|  67|  75|
|21adr027|   vino|    kec|  it|  88|  87|
|21adr087|sathish|    kec| cse|  57|  54|
|21adr053| karthi|    kec|  it|  88|  90|
|21adr001|    abi|    psg|  ai|  95|  63|
+--------+-------+-------+----+----+----+

In [ ]:
df.write.csv('file1.csv')

In [ ]:
df.show()

+--------+-------+-------+----+----+----+
|      id|   name|college|dept|sub1|sub2|
+--------+-------+-------+----+----+----+
|21adr015|   banu|    kec|  ai|  88|  98|
|21adr021|   kavi|    psg|  it|  90|  95|
|21adr054|preethi|    kec| aiu|  77|  80|
|21adr099|  saran|    kec| cse|  99|  65|
|21adr009|    ram|    kec|  ai|  79|  65|
|21adr091|  jeeva|    psg| cse|  99|  65|
|21adr039|  ramya|    kec|  it|  50|  80|
|21adr018|  karan|    psg| cse|  67|  75|
|21adr027|   vino|    kec|  it|  88|  87|
|21adr087|sathish|    kec| cse|  57|  54|
|21adr053| karthi|    kec|  it|  88|  90|
|21adr001|    abi|    psg|  ai|  95|  63|
+--------+-------+-------+----+----+----+