<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Dataframe_pysparkfunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=648789664567b6dd6b2584db330d8175a9d81daf4ba1c97e39d595a7764c635f
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
# importing module
import pyspark

# importing sparksession from pyspark.sql
# module
from pyspark.sql import SparkSession

# creating sparksession and giving an app
# name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list  of students  data
data = [
        ["21ADR001", "aarthi", "KEC","AI" ,67, 89],
        ["21ADR002", "cibi", "PSG","AI", 78, 89],
        ["21ADR004", "chandru", "KEC","AI", 78, 89],
        ["21CSR51", "raj", "KEC", "CSE" ,100, 80],
        ["21CSR55", "rohith", "KEC", "CSE", 100, 80],
        ["21CSR76", "vetri", "PSG", "CSE", 57, 80],
        ["21CSR51", "zubair", "KEC", "CSE" ,85, 80],
        ["21ADR072", "saran", "PSG","AI", 78, 89],
        ["21ADR073", "siva", "PSG","AI", 78, 58],
        ["21ITR004", "arun", "PSG","IT", 58, 78],
        ["21ITR005", "cibi", "PSG","IT" ,68, 56],
        ["21ITR002", "adhi", "PSG","IT", 78, 90],
        ["21MTR002", "adhi", "PSG","MTS", 78, 90],
       ]

# specify column names
columns = ['studentID', 'studentname',
           'collegename', 'dept','subject 1', 'subject 2']

# creating a dataframe from the lists of data
df = spark.createDataFrame(data, columns)
# display dataframe
df.show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.printSchema()

root
 |-- studentID: string (nullable = true)
 |-- studentname: string (nullable = true)
 |-- collegename: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- subject 1: long (nullable = true)
 |-- subject 2: long (nullable = true)

In [ ]:
df.show(n=2,truncate=25)
'''The show method is used to display rows from the DataFrame in a human-readable
 tabular format.
 The first argument 2 specifies that you want to display the first 2 rows of the DataFrame.
 The optional argument truncate=25 specifies that if any column's content exceeds
 25 characters, it will be truncated (abbreviated) to fit within that length.
 '''

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
+---------+-----------+-----------+----+---------+---------+
only showing top 2 rows

"The show method is used to display rows from the DataFrame in a human-readable\n tabular format.\n The first argument 2 specifies that you want to display the first 2 rows of the DataFrame.\n The optional argument truncate=25 specifies that if any column's content exceeds\n 25 characters, it will be truncated (abbreviated) to fit within that length.\n "

In [ ]:
# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
+---------+-----------+-----------+----+---------+---------+
only showing top 3 rows

In [ ]:
df.select("*").show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.select(df.columns[1:4]).show(3)

+-----------+-----------+----+
|studentname|collegename|dept|
+-----------+-----------+----+
|     aarthi|        KEC|  AI|
|       cibi|        PSG|  AI|
|    chandru|        KEC|  AI|
+-----------+-----------+----+
only showing top 3 rows

collect () vs select ()
select() is a transformation that returns a new DataFrame and holds the columns that are selected whereas collect() is an action that returns the entire data set in an Array to the driver.

In [ ]:
df.select("*").show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
dataCollect = df.collect()
print(dataCollect)

[Row(studentID='21ADR001', studentname='aarthi', collegename='KEC', dept='AI', subject 1=67, subject 2=89), Row(studentID='21ADR002', studentname='cibi', collegename='PSG', dept='AI', subject 1=78, subject 2=89), Row(studentID='21ADR004', studentname='chandru', collegename='KEC', dept='AI', subject 1=78, subject 2=89), Row(studentID='21CSR51', studentname='raj', collegename='KEC', dept='CSE', subject 1=100, subject 2=80), Row(studentID='21CSR55', studentname='rohith', collegename='KEC', dept='CSE', subject 1=100, subject 2=80), Row(studentID='21CSR76', studentname='vetri', collegename='PSG', dept='CSE', subject 1=57, subject 2=80), Row(studentID='21CSR51', studentname='zubair', collegename='KEC', dept='CSE', subject 1=85, subject 2=80), Row(studentID='21ADR072', studentname='saran', collegename='PSG', dept='AI', subject 1=78, subject 2=89), Row(studentID='21ADR073', studentname='siva', collegename='PSG', dept='AI', subject 1=78, subject 2=58), Row(studentID='21ITR004', studentname='arun', collegename='PSG', dept='IT', subject 1=58, subject 2=78), Row(studentID='21ITR005', studentname='cibi', collegename='PSG', dept='IT', subject 1=68, subject 2=56), Row(studentID='21ITR002', studentname='adhi', collegename='PSG', dept='IT', subject 1=78, subject 2=90), Row(studentID='21MTR002', studentname='adhi', collegename='PSG', dept='MTS', subject 1=78, subject 2=90)]

In [ ]:
df.collect()

[Row(studentID='21ADR001', studentname='aarthi', collegename='KEC', dept='AI', subject 1=67, subject 2=89),
 Row(studentID='21ADR002', studentname='cibi', collegename='PSG', dept='AI', subject 1=78, subject 2=89),
 Row(studentID='21ADR004', studentname='chandru', collegename='KEC', dept='AI', subject 1=78, subject 2=89),
 Row(studentID='21CSR51', studentname='raj', collegename='KEC', dept='CSE', subject 1=100, subject 2=80),
 Row(studentID='21CSR55', studentname='rohith', collegename='KEC', dept='CSE', subject 1=100, subject 2=80),
 Row(studentID='21CSR76', studentname='vetri', collegename='PSG', dept='CSE', subject 1=57, subject 2=80),
 Row(studentID='21CSR51', studentname='zubair', collegename='KEC', dept='CSE', subject 1=85, subject 2=80),
 Row(studentID='21ADR072', studentname='saran', collegename='PSG', dept='AI', subject 1=78, subject 2=89),
 Row(studentID='21ADR073', studentname='siva', collegename='PSG', dept='AI', subject 1=78, subject 2=58),
 Row(studentID='21ITR004', studentname='arun', collegename='PSG', dept='IT', subject 1=58, subject 2=78),
 Row(studentID='21ITR005', studentname='cibi', collegename='PSG', dept='IT', subject 1=68, subject 2=56),
 Row(studentID='21ITR002', studentname='adhi', collegename='PSG', dept='IT', subject 1=78, subject 2=90),
 Row(studentID='21MTR002', studentname='adhi', collegename='PSG', dept='MTS', subject 1=78, subject 2=90)]

Filter()

In [ ]:
df.filter(df.dept == "AI").show(truncate=False)

'''filter(df.dept == "AI"):
The filter method is used to select rows from the DataFrame based on a condition.
In this case, df.dept == "AI" is the condition.
It filters the DataFrame to include only rows where the value in the "dept" column
is equal to "AI". This is essentially selecting rows where the department is "AI"
(presumably "Artificial Intelligence").'''

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
+---------+-----------+-----------+----+---------+---------+

'filter(df.dept == "AI"):\nThe filter method is used to select rows from the DataFrame based on a condition.\nIn this case, df.dept == "AI" is the condition.\nIt filters the DataFrame to include only rows where the value in the "dept" column\nis equal to "AI". This is essentially selecting rows where the department is "AI"\n(presumably "Artificial Intelligence").'

In [ ]:
df.filter(~(df.dept == "AI")).show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.filter(df.dept != "AI").show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.filter("dept!= 'CSE'").show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.filter("DEPT <> 'CSE'").show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
#Filter multiple condition
df.filter( (df.collegename  == "KEC") & (df.dept  == "AI") ).show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
#Filter multiple condition
df.filter( (df.collegename  == "KEC")  | (df.dept  == "AI") ).show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
#Filter IS IN List values
li=["CSE","IT","DE"]
df.filter(df.dept.isin(li)).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
# Filter NOT IS IN List values
#These show all records which is not part of the list)
li=["CSE","IT"]
df.filter(~df.dept.isin(li)).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
| 21MTR002|       adhi|        PSG| MTS|       78|       90|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
li=["CSE","IT"]
df.filter(df.dept.isin(li)==True).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
| 21ITR004|       arun|        PSG|  IT|       58|       78|
| 21ITR005|       cibi|        PSG|  IT|       68|       56|
| 21ITR002|       adhi|        PSG|  IT|       78|       90|
+---------+-----------+-----------+----+---------+---------+

Filter Based on Starts With, Ends With, Contains
You can also filter DataFrame rows by using startswith(), endswith() and contains() methods of Column class. For more examples on Column class, refer to PySpark Column Functions.

In [ ]:
# Using startswith
df.filter(df.dept.startswith("C")).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR76|      vetri|        PSG| CSE|       57|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
#using endswith
df.filter(df.dept.endswith("I")).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
#contains
df.filter(df.collegename.contains("E")).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
|  21CSR51|        raj|        KEC| CSE|      100|       80|
|  21CSR55|     rohith|        KEC| CSE|      100|       80|
|  21CSR51|     zubair|        KEC| CSE|       85|       80|
+---------+-----------+-----------+----+---------+---------+

In [ ]:
# like - SQL LIKE pattern
df.filter(df.studentID.like("%ADR%")).show()

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
| 21ADR001|     aarthi|        KEC|  AI|       67|       89|
| 21ADR002|       cibi|        PSG|  AI|       78|       89|
| 21ADR004|    chandru|        KEC|  AI|       78|       89|
| 21ADR072|      saran|        PSG|  AI|       78|       89|
| 21ADR073|       siva|        PSG|  AI|       78|       58|
+---------+-----------+-----------+----+---------+---------+

DataFrame sorting using the sort() function PySpark DataFrame class provides sort() function to sort on one or more columns. By default, it sorts by ascending order.

In [ ]:
df.sort("dept").show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.sort("collegename","dept").show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

DataFrame sorting using orderBy() function
PySpark DataFrame also provides orderBy() function to sort on one or more columns. By default, it orders by ascending.

In [ ]:
df.orderBy("collegename","dept").show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.sort(df.collegename.asc(),df.dept.asc()).show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
+---------+-----------+-----------+----+---------+---------+

In [ ]:
df.sort(df.collegename.asc(),df.dept.desc()).show(truncate=False)

+---------+-----------+-----------+----+---------+---------+
|studentID|studentname|collegename|dept|subject 1|subject 2|
+---------+-----------+-----------+----+---------+---------+
|21CSR51  |raj        |KEC        |CSE |100      |80       |
|21CSR51  |zubair     |KEC        |CSE |85       |80       |
|21CSR55  |rohith     |KEC        |CSE |100      |80       |
|21ADR001 |aarthi     |KEC        |AI  |67       |89       |
|21ADR004 |chandru    |KEC        |AI  |78       |89       |
|21MTR002 |adhi       |PSG        |MTS |78       |90       |
|21ITR004 |arun       |PSG        |IT  |58       |78       |
|21ITR005 |cibi       |PSG        |IT  |68       |56       |
|21ITR002 |adhi       |PSG        |IT  |78       |90       |
|21CSR76  |vetri      |PSG        |CSE |57       |80       |
|21ADR072 |saran      |PSG        |AI  |78       |89       |
|21ADR002 |cibi       |PSG        |AI  |78       |89       |
|21ADR073 |siva       |PSG        |AI  |78       |58       |
+---------+-----------+-----------+----+---------+---------+

PySpark groupBy() function is used to collect the identical data into groups on DataFrame and perform count, sum, avg, min, max functions on the grouped data

count() – Use groupBy() count() to return the number of rows for each group.

mean() – Returns the mean of values for each group.

max() – Returns the maximum of values for each group. min() – Returns the minimum of values for each group.

sum() – Returns the total for values for each group.

avg() – Returns the average for values for each group.

agg() – Using groupBy() agg() function, we can calculate more than one aggregate at a time.

In [ ]:
# importing module
import pyspark

# importing sparksession from pyspark.sql
# module
from pyspark.sql import SparkSession

# creating sparksession and giving an app
# name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

In [ ]:
empdata = [("devi","Sales","NY",90000,34,10000),
    ("arun","Sales","NY",86000,56,20000),
    ("sakthi","Sales","CA",81000,30,23000),
    ("siva","Finance","CA",90000,24,23000),
    ("ashok","Finance","CA",99000,40,24000),
    ("raj","Finance","NY",83000,36,19000),
    ("kali","Finance","NY",79000,53,15000),
    ("indhu","Marketing","CA",80000,25,18000),
    ("vidhya","Marketing","NY",91000,50,21000),
    ("kavi","Finance","NY",91000,50,21000),
  ]
schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=empdata, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|devi         |Sales     |NY   |90000 |34 |10000|
|arun         |Sales     |NY   |86000 |56 |20000|
|sakthi       |Sales     |CA   |81000 |30 |23000|
|siva         |Finance   |CA   |90000 |24 |23000|
|ashok        |Finance   |CA   |99000 |40 |24000|
|raj          |Finance   |NY   |83000 |36 |19000|
|kali         |Finance   |NY   |79000 |53 |15000|
|indhu        |Marketing |CA   |80000 |25 |18000|
|vidhya       |Marketing |NY   |91000 |50 |21000|
|kavi         |Finance   |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
#PySpark groupBy on DataFrame Columns
df.groupBy("department").sum("salary").show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |442000     |
|Marketing |171000     |
+----------+-----------+

In [ ]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    5|
| Marketing|    2|
+----------+-----+

In [ ]:

df.groupBy("department").min("salary").show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      81000|
|   Finance|      79000|
| Marketing|      80000|
+----------+-----------+

In [ ]:

df.groupBy("department").max("salary").show()

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      90000|
|   Finance|      99000|
| Marketing|      91000|
+----------+-----------+

In [ ]:
df.groupBy("department").avg( "salary").show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          88400.0|
| Marketing|          85500.0|
+----------+-----------------+

In [ ]:
df.groupBy("department").mean( "salary").show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          88400.0|
| Marketing|          85500.0|
+----------+-----------------+

In [ ]:
#GroupBy on multiple columns
df.groupBy("department","state").sum("salary","bonus").show()

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|     Sales|   CA|      81000|     23000|
|   Finance|   CA|     189000|     47000|
|     Sales|   NY|     176000|     30000|
|   Finance|   NY|     253000|     55000|
| Marketing|   NY|      91000|     21000|
| Marketing|   CA|      80000|     18000|
+----------+-----+-----------+----------+

Running more aggregates at a time
Using agg() aggregate function we can calculate many aggregations at a time on a single statement using SQL functions sum(), avg(), min(), max() mean() e.t.c. In order to use these, we should import "from pyspark.sql.functions import sum,avg,max,min,mean,count

In [ ]:
from pyspark.sql.functions import sum,avg,max
df.groupBy("department").agg(sum("salary")).show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |442000     |
|Marketing |171000     |
+----------+-----------+

In [ ]:
from pyspark.sql.functions import sum,avg,max,col
df.groupBy("department").agg( \
    sum("salary").alias("sum_salary"), \
    avg("salary").alias("avg_salary"), \
    sum("bonus").alias("sum_bonus"), \
    max("bonus").alias("max_bonus") \
    ).show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |442000    |88400.0          |102000   |24000    |
|Marketing |171000    |85500.0          |39000    |21000    |
+----------+----------+-----------------+---------+---------+

5. Using filter on aggregate data
# Similar to SQL “HAVING” clause, On PySpark DataFrame we can use either where() or filter() function to filter the rows of aggregated data.


This removes the sum of a bonus that has less than 50000 and yields below output.

In [ ]:
from pyspark.sql.functions import sum,avg,max
df.groupBy("department").agg(
    sum("salary").alias("sum_salary"),
    avg("salary").alias("avg_salary"),
    sum("bonus").alias("sum_bonus"),
    max("bonus").alias("max_bonus")
    ).where(col("sum_bonus") >= 50000).show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |442000    |88400.0          |102000   |24000    |
+----------+----------+-----------------+---------+---------+

In [ ]:
df.show()
df.select(max("salary")).show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|         devi|     Sales|   NY| 90000| 34|10000|
|         arun|     Sales|   NY| 86000| 56|20000|
|       sakthi|     Sales|   CA| 81000| 30|23000|
|         siva|   Finance|   CA| 90000| 24|23000|
|        ashok|   Finance|   CA| 99000| 40|24000|
|          raj|   Finance|   NY| 83000| 36|19000|
|         kali|   Finance|   NY| 79000| 53|15000|
|        indhu| Marketing|   CA| 80000| 25|18000|
|       vidhya| Marketing|   NY| 91000| 50|21000|
|         kavi|   Finance|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

+-----------+
|max(salary)|
+-----------+
|99000      |
+-----------+

In [ ]:
df.select(sum("salary")).show(truncate=False)

+-----------+
|sum(salary)|
+-----------+
|870000     |
+-----------+

In [ ]:
# maximum value from multiple column
df.agg({'salary': 'max',	'bonus': 'max','age':'max'}).show()

+----------+-----------+--------+
|max(bonus)|max(salary)|max(age)|
+----------+-----------+--------+
|     24000|      99000|      56|
+----------+-----------+--------+