<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Data_Frame_creation_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=c4ed2933686c666ea69a5f9768338a5f81c206e4ec1c385bc0fbbfb1fdf543d0
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('sparkExample.com').getOrCreate()

In [ ]:
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[0] at emptyRDD at NativeMethodAccessorImpl.java:0

In [ ]:
dept = [("finance",10),("market",20),("sales",30)]
rdd = spark.sparkContext.parallelize(dept)
df = rdd.toDF()
df.printSchema()
df.show()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+-------+---+
|     _1| _2|
+-------+---+
|finance| 10|
| market| 20|
|  sales| 30|
+-------+---+

In [ ]:
from pyspark.sql.types import StructType,StructField,StringType
schema = StructType([StructField('First name', StringType(), True),StructField('Middle name', StringType(), True),StructField('Last name', StringType(), True)])
df = spark.createDataFrame(emptyRDD,schema)
df.printSchema()

root
 |-- First name: string (nullable = true)
 |-- Middle name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [ ]:
#create empty data frame directly

df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- First name: string (nullable = true)
 |-- Middle name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [ ]:
df2 = spark.createDataFrame([],schema)
df2.printSchema()

root
 |-- First name: string (nullable = true)
 |-- Middle name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [ ]:
df3 = spark.createDataFrame([],StructType([]))
df3.printSchema()

root

In [ ]:
#ADDING COLUMNS TO DATA FRAME
dept_column = ['dept_name',"id"]
df2=rdd.toDF(dept_column)
df2.printSchema()
df2.show()

root
 |-- dept_name: string (nullable = true)
 |-- id: long (nullable = true)

+---------+---+
|dept_name| id|
+---------+---+
|  finance| 10|
|   market| 20|
|    sales| 30|
+---------+---+

In [ ]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
dataStruct =[(("james","","smith"),"36636","M","3000"),\
             (("michale","","rose"),"76868","M","4000"),\
             (("rani","","rose"),"86869","F","4000"),\
             (("siva","","mani"),"43525","M","4880"),\
             (("vasu","","kavi"),"22347","F","50508"),\
             (("bhavi","","sri"),"8897","F","4098"),\
             (("rithu","","kalai"),"6447","F","5000"),\
             (("vasu","","DHARU"),"8837","F","6678"),\
]
schemaStruct = StructType([
      StructField('name',StructType([
      StructField('firstname',StringType(),True),
      StructField('middle name',StringType(),True),
      StructField('lastname',StringType(),True)
      ])),
      StructField('dob',StringType(),True),
      StructField('gender',StringType(),True),
      StructField('salary',StringType(),True),
])
df = spark.createDataFrame(data=dataStruct, schema = schemaStruct)
df.printSchema()
pandasDF2 = df.toPandas()
print(pandasDF2)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middle name: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

                name    dob gender salary
0   (james, , smith)  36636      M   3000
1  (michale, , rose)  76868      M   4000
2     (rani, , rose)  86869      F   4000
3     (siva, , mani)  43525      M   4880
4     (vasu, , kavi)  22347      F  50508
5     (bhavi, , sri)   8897      F   4098
6   (rithu, , kalai)   6447      F   5000
7    (vasu, , DHARU)   8837      F   6678

In [ ]:
df.show()

+-----------------+-----+------+------+
|             name|  dob|gender|salary|
+-----------------+-----+------+------+
| {james, , smith}|36636|     M|  3000|
|{michale, , rose}|76868|     M|  4000|
|   {rani, , rose}|86869|     F|  4000|
|   {siva, , mani}|43525|     M|  4880|
|   {vasu, , kavi}|22347|     F| 50508|
|   {bhavi, , sri}| 8897|     F|  4098|
| {rithu, , kalai}| 6447|     F|  5000|
|  {vasu, , DHARU}| 8837|     F|  6678|
+-----------------+-----+------+------+

In [ ]:
df.select("gender").show()

+------+
|gender|
+------+
|     M|
|     M|
|     F|
|     M|
|     F|
|     F|
|     F|
|     F|
+------+

In [ ]:
df.filter(df.salary=="3000").show(truncate=False)

+----------------+-----+------+------+
|name            |dob  |gender|salary|
+----------------+-----+------+------+
|{james, , smith}|36636|M     |3000  |
+----------------+-----+------+------+

In [ ]:
df.filter(df.salary != "4000").show(truncate=False)

+----------------+-----+------+------+
|name            |dob  |gender|salary|
+----------------+-----+------+------+
|{james, , smith}|36636|M     |3000  |
|{siva, , mani}  |43525|M     |4880  |
|{vasu, , kavi}  |22347|F     |50508 |
|{bhavi, , sri}  |8897 |F     |4098  |
|{rithu, , kalai}|6447 |F     |5000  |
|{vasu, , DHARU} |8837 |F     |6678  |
+----------------+-----+------+------+

In [ ]:
df.filter(~(df.salary=="4000"))\
     .show(truncate=False)

+----------------+-----+------+------+
|name            |dob  |gender|salary|
+----------------+-----+------+------+
|{james, , smith}|36636|M     |3000  |
|{siva, , mani}  |43525|M     |4880  |
|{vasu, , kavi}  |22347|F     |50508 |
|{bhavi, , sri}  |8897 |F     |4098  |
|{rithu, , kalai}|6447 |F     |5000  |
|{vasu, , DHARU} |8837 |F     |6678  |
+----------------+-----+------+------+

In [ ]:
#filter multiple condition

df.filter((df.gender=="F") & (df.salary >"4000")).show(truncate=False)

+----------------+-----+------+------+
|name            |dob  |gender|salary|
+----------------+-----+------+------+
|{vasu, , kavi}  |22347|F     |50508 |
|{bhavi, , sri}  |8897 |F     |4098  |
|{rithu, , kalai}|6447 |F     |5000  |
|{vasu, , DHARU} |8837 |F     |6678  |
+----------------+-----+------+------+

In [ ]:
df.filter((df.gender=="F") | (df.salary >"4000")).show(truncate=False)

+----------------+-----+------+------+
|name            |dob  |gender|salary|
+----------------+-----+------+------+
|{rani, , rose}  |86869|F     |4000  |
|{siva, , mani}  |43525|M     |4880  |
|{vasu, , kavi}  |22347|F     |50508 |
|{bhavi, , sri}  |8897 |F     |4098  |
|{rithu, , kalai}|6447 |F     |5000  |
|{vasu, , DHARU} |8837 |F     |6678  |
+----------------+-----+------+------+

In [ ]:
LI = ["4000","4098"]
df.filter(df.salary.isin(LI)).show()

+-----------------+-----+------+------+
|             name|  dob|gender|salary|
+-----------------+-----+------+------+
|{michale, , rose}|76868|     M|  4000|
|   {rani, , rose}|86869|     F|  4000|
|   {bhavi, , sri}| 8897|     F|  4098|
+-----------------+-----+------+------+