<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Date_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=b8c532a68794a6bc544ccd6a72d5013a4f2d8d49ebc715d598aae78a178d65c7
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

# Step 2: Create a Spark session
spark = SparkSession.builder.appName("PySpark_Date_Tim_Example").getOrCreate()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]
df=spark.createDataFrame(data,["id","input"])
df.show()

+---+----------+
| id|     input|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
+---+----------+

In [ ]:
#current_date()
df.select(current_date().alias("current_date")).show(1)

+------------+
|current_date|
+------------+
|  2023-10-02|
+------------+
only showing top 1 row

In [ ]:
#date_format()
df.select(col("input"),date_format(col("input"), "MM-dd-yyyy")\
          .alias("date_format")).show()

+----------+-----------+
|     input|date_format|
+----------+-----------+
|2020-02-01| 02-01-2020|
|2019-03-01| 03-01-2019|
|2021-03-01| 03-01-2021|
+----------+-----------+

In [ ]:

#Converts the column into `DateType` by casting rules to `DateType`.
#to_date()
df.select(col("input"),to_date(col("input"), "yyyy-MM-dd")\
          .alias("to_date")).show()

+----------+----------+
|     input|   to_date|
+----------+----------+
|2020-02-01|2020-02-01|
|2019-03-01|2019-03-01|
|2021-03-01|2021-03-01|
+----------+----------+

In [ ]:
	#Returns the number of days from `start` to `end`.

#datediff()
df.select(col("input"), datediff(current_date(),col("input"))\
          .alias("datediff")).show()

+----------+--------+
|     input|datediff|
+----------+--------+
|2020-02-01|    1339|
|2019-03-01|    1676|
|2021-03-01|     945|
+----------+--------+

In [ ]:
#Returns number of months between dates `end` and `start`. If `roundOff` is set to true, the result is rounded off to 8 digits; it is not rounded otherwise

#months_between()
df.select(col("input"),months_between(current_date(),col("input"))\
          .alias("months_between")).show()

+----------+--------------+
|     input|months_between|
+----------+--------------+
|2020-02-01|   44.03225806|
|2019-03-01|   55.03225806|
|2021-03-01|   31.03225806|
+----------+--------------+

In [ ]:
#trunc()
df.select(col("input"),\
          trunc(col("input"),"Month").alias("Month_Trunc"),\
          trunc(col("input"),"Year").alias("Month_Year"),\
          trunc(col("input"),"Month").alias("Month_Trunc")).show()

+----------+-----------+----------+-----------+
|     input|Month_Trunc|Month_Year|Month_Trunc|
+----------+-----------+----------+-----------+
|2020-02-01| 2020-02-01|2020-01-01| 2020-02-01|
|2019-03-01| 2019-03-01|2019-01-01| 2019-03-01|
|2021-03-01| 2021-03-01|2021-01-01| 2021-03-01|
+----------+-----------+----------+-----------+

In [ ]:
from pyspark.sql.functions import col, trunc
from pyspark.sql.types import StringType, StructType, StructField
# Sample data with explicit schema
data = [("2023-07-15",), ("2023-08-20",), ("2023-10-03",)]
schema = StructType([StructField("input", StringType(), True)])
# Create a DataFrame with the defined schema
df = spark.createDataFrame(data, schema)

# Select columns and truncate the "input" column to month and year
result_df = df.select(
    col("input"),
    trunc(col("input"), "Month").alias("Month_Trunc"),
    trunc(col("input"), "Year").alias("Month_Year")
)
# Show the result
result_df.show()

+----------+-----------+----------+-------------+
|     input|Month_Trunc|Month_Year|Month_Trunc_2|
+----------+-----------+----------+-------------+
|2023-07-15| 2023-07-01|2023-01-01|   2023-07-01|
|2023-08-20| 2023-08-01|2023-01-01|   2023-08-01|
|2023-10-03| 2023-10-01|2023-01-01|   2023-10-01|
+----------+-----------+----------+-------------+

In [ ]:
#add_months() , date_add(), date_sub()
df.select(col("input"), \
          add_months(col("input"),3).alias("add_months"), \
          add_months(col("input"),-3).alias("sub_months"), \
          date_add(col("input"),4).alias("date_add"), \
          date_sub(col("input"),4).alias("date_sub")).show()

+----------+----------+----------+----------+----------+
|     input|add_months|sub_months|  date_add|  date_sub|
+----------+----------+----------+----------+----------+
|2023-07-15|2023-10-15|2023-04-15|2023-07-19|2023-07-11|
|2023-08-20|2023-11-20|2023-05-20|2023-08-24|2023-08-16|
|2023-10-03|2024-01-03|2023-07-03|2023-10-07|2023-09-29|
+----------+----------+----------+----------+----------+

In [ ]:
df.select(col("input"),\
          year(col("input")).alias("year"),\
          month(col("input")).alias("month"), \
          next_day(col("input"),"Sunday").alias("next_day"), \
          weekofyear(col("input")).alias("weekofyear") ).show()

+----------+----+-----+----------+----------+
|     input|year|month|  next_day|weekofyear|
+----------+----+-----+----------+----------+
|2023-07-15|2023|    7|2023-07-16|        28|
|2023-08-20|2023|    8|2023-08-27|        33|
|2023-10-03|2023|   10|2023-10-08|        40|
+----------+----+-----+----------+----------+

In [ ]:
df.select(col("input"),
     dayofweek(col("input")).alias("dayofweek"),
     dayofmonth(col("input")).alias("dayofmonth"),
     dayofyear(col("input")).alias("dayofyear"),
  ).show()

+----------+---------+----------+---------+
|     input|dayofweek|dayofmonth|dayofyear|
+----------+---------+----------+---------+
|2023-07-15|        7|        15|      196|
|2023-08-20|        1|        20|      232|
|2023-10-03|        3|         3|      276|
+----------+---------+----------+---------+

# current_timestamp()
Following are the Timestamp Functions that you can use on SQL and on DataFrame. Let’s learn these with examples.

In [ ]:

 #default format of the Spark Timestamp is
 # yyyy-MM-dd HH:mm:ss.SSSS


data=[["1","02-01-2020 11 01 19 06"],
      ["2","03-01-2019 12 01 19 406"],
      ["3","03-01-2021 12 01 19 406"]]
df2=spark.createDataFrame(data,["id","input"])
df2.show(truncate=False)

+---+-----------------------+
|id |input                  |
+---+-----------------------+
|1  |02-01-2020 11 01 19 06 |
|2  |03-01-2019 12 01 19 406|
|3  |03-01-2021 12 01 19 406|
+---+-----------------------+

In [ ]:

#current_timestamp()
df2.select(current_timestamp().alias("current_timestamp")
  ).show(1,truncate=False)

+--------------------------+
|current_timestamp         |
+--------------------------+
|2023-10-02 17:00:43.657529|
+--------------------------+
only showing top 1 row

In [ ]:

	#Converts to a timestamp by casting rules to `TimestampType`.
#to_timestamp()
df2.select(col("input"),
    to_timestamp(col("input"), "MM-dd-yyyy HH mm ss SSS")\
           .alias("to_timestamp")
  ).show(truncate=False)

+-----------------------+-----------------------+
|input                  |to_timestamp           |
+-----------------------+-----------------------+
|02-01-2020 11 01 19 06 |2020-02-01 11:01:19.06 |
|03-01-2019 12 01 19 406|2019-03-01 12:01:19.406|
|03-01-2021 12 01 19 406|2021-03-01 12:01:19.406|
+-----------------------+-----------------------+

In [ ]:
#hour, minute,second
data=[["1","2020-02-01 11:01:19.06"],
      ["2","2019-03-01 12:01:19.406"],
      ["3","2021-03-01 12:01:19.406"]]
df3=spark.createDataFrame(data,["id","input"])

df3.select(col("input"),
    hour(col("input")).alias("hour"),
    minute(col("input")).alias("minute"),
    second(col("input")).alias("second")
  ).show(truncate=False)

+-----------------------+----+------+------+
|input                  |hour|minute|second|
+-----------------------+----+------+------+
|2020-02-01 11:01:19.06 |11  |1     |19    |
|2019-03-01 12:01:19.406|12  |1     |19    |
|2021-03-01 12:01:19.406|12  |1     |19    |
+-----------------------+----+------+------+