<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/DDL%26DML_using_SQL_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=44eb5c26bfef29a664abf90a87e57badf63203170c8558c18f2de920085aa4a5
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MySparkApp").enableHiveSupport().getOrCreate()

In [ ]:
from pyspark.sql import functions as F

In [ ]:
data = [("Alice", 28), ("Bob", 22), ("Charlie", 35)]
columns = ["name", "age"]
df = spark.createDataFrame(data, columns)
df.show()
print(type(df))

+-------+---+
|   name|age|
+-------+---+
|  Alice| 28|
|    Bob| 22|
|Charlie| 35|
+-------+---+

<class 'pyspark.sql.dataframe.DataFrame'>

# **createOrReplaceTempView()**

# **SQL Queries:**It allow you to execute SQL queries against your DataFrame using Spark SQL. You can leverage your SQL skills to interact with and analyze your data stored in DataFrames.

# **Integration with SQL Tools:** Temporary views enable you to use various SQL tools and libraries for data analysis and visualization. For example, you can connect SQL clients or visualization tools to Spark and query your data as if it were in a traditional relational database.

# **Data Exploration:** Temporary views make it easier to explore and understand your data interactively. You can quickly examine the data, run SQL aggregations, filter, sort, and perform other operations.

# **Reusable Queries:** You can define complex data transformations or data preprocessing steps as SQL queries and save them as views.

# **Collaboration:** When working in a team, sharing temporary views can help team members understand the structure of the data and the transformations that have been applied.

In [ ]:
df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people")
result.show()

result = spark.sql("SELECT * FROM people WHERE age > 25")
result.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 28|
|    Bob| 22|
|Charlie| 35|
+-------+---+

+-------+---+
|   name|age|
+-------+---+
|  Alice| 28|
|Charlie| 35|
+-------+---+

In [ ]:
# Using DataFrame API
df.write.saveAsTable("new_table_name_3")

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [ ]:
# Using SQL API
spark.sql("CREATE TABLE new_table_name_5 AS SELECT * FROM people")
#ddl_statement = """ CREATE TABLE IF NOT EXISTS employees (id INT,  name STRING,  age INT, salary DOUBLE )"""

DataFrame[]

In [ ]:
ddl_statement = """ CREATE TABLE IF NOT EXISTS employees (id INT,  name STRING,  age INT, salary DOUBLE )"""
spark.sql(ddl_statement)

DataFrame[]

In [ ]:
# Using SQL API
spark.sql("DESCRIBE new_table_name_3").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|    name|   string|   null|
|     age|   bigint|   null|
+--------+---------+-------+

In [ ]:
# Using SQL API
spark.sql("SHOW COLUMNS FROM new_table_name_3").show()

+--------+
|col_name|
+--------+
|    name|
|     age|
+--------+

In [ ]:
# Using SQL API
spark.sql("ALTER TABLE new_table_name_3 ADD COLUMN new_column STRING")

DataFrame[]

In [ ]:
spark.sql("DESCRIBE new_table_name_3").show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|      name|   string|   null|
|       age|   bigint|   null|
|new_column|   string|   null|
+----------+---------+-------+

In [ ]:
# Using DataFrame API
#new_data = [("David", 30), ("Ella", 25)]
#new_df = spark.createDataFrame(new_data, columns)
#new_df.write.insertInto("new_table_name_1")

In [ ]:
# Using SQL API
spark.sql("INSERT INTO TABLE new_table_name_3 VALUES ('Devi', 30,'KEC'), ('arun', 25,'NIT')")

DataFrame[]

In [ ]:
# Using SQL API
spark.sql("SELECT * FROM new_table_name_3").show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 25|       NIT|
|   Devi| 30|       KEC|
|    Bob| 22|      null|
|Charlie| 35|      null|
|  Alice| 28|      null|
+-------+---+----------+

In [ ]:
#Currently spark sql does not support UPDATE statments
#spark.sql("UPDATE new_table_name_2 SET age = 36 WHERE name = 'Charlie'")

In [ ]:
df = spark.read.table("new_table_name_3")
df.show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 25|       NIT|
|   Devi| 30|       KEC|
|    Bob| 22|      null|
|Charlie| 35|      null|
|  Alice| 28|      null|
+-------+---+----------+

In [ ]:
from pyspark.sql.functions import expr
updated_df = df.withColumn("age_plus_5", expr("age + 5"))
updated_df.show()

+-------+---+----------+----------+
|   name|age|new_column|age_plus_5|
+-------+---+----------+----------+
|   arun| 25|       NIT|        30|
|   Devi| 30|       KEC|        35|
|    Bob| 22|      null|        27|
|Charlie| 35|      null|        40|
|  Alice| 28|      null|        33|
+-------+---+----------+----------+

In [ ]:
updated_df = df.withColumn("age", expr("age + 1"))
updated_df.show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 26|       NIT|
|   Devi| 31|       KEC|
|    Bob| 23|      null|
|Charlie| 36|      null|
|  Alice| 29|      null|
+-------+---+----------+

In [ ]:
from pyspark.sql.functions import when
updated_df = df.withColumn("is_adult", when(expr("age >= 18"), "Yes").otherwise("No"))
updated_df.show()

+-------+---+----------+--------+
|   name|age|new_column|is_adult|
+-------+---+----------+--------+
|   arun| 25|       NIT|     Yes|
|   Devi| 30|       KEC|     Yes|
|    Bob| 22|      null|     Yes|
|Charlie| 35|      null|     Yes|
|  Alice| 28|      null|     Yes|
+-------+---+----------+--------+

In [ ]:
from pyspark.sql.functions import col

update_condition = (col("name") == "arun")
# Create a new DataFrame with the updated row
updated_df = df.withColumn("age", when(update_condition, 35).otherwise(col("age")))
updated_df.show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 35|       NIT|
|   Devi| 30|       KEC|
|    Bob| 22|      null|
|Charlie| 35|      null|
|  Alice| 28|      null|
+-------+---+----------+

In [ ]:
update_condition = (col("name") == "Bob")
# Create a new DataFrame with the updated row
updated_df = df.withColumn("new_column", when(update_condition, "PSG").otherwise(col("new_column")))
updated_df.show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 25|       NIT|
|   Devi| 30|       KEC|
|    Bob| 22|       PSG|
|Charlie| 35|      null|
|  Alice| 28|      null|
+-------+---+----------+

In [ ]:
update_condition = (col("name") == "Alice")
# Create a new DataFrame with the updated row
updated_df = df.withColumn("new_column", when(update_condition, "PSG").otherwise(col("new_column")))
updated_df.show()

+-------+---+----------+
|   name|age|new_column|
+-------+---+----------+
|   arun| 25|       NIT|
|   Devi| 30|       KEC|
|    Bob| 22|      null|
|Charlie| 35|      null|
|  Alice| 28|       PSG|
+-------+---+----------+

In [ ]:
from pyspark.sql.functions import lit
job_value = "Engineer"
 # You can change this to your desired job value
df_with_job = df.withColumn("job", lit(job_value))
df_with_job.show()

+-------+---+----------+--------+
|   name|age|new_column|     job|
+-------+---+----------+--------+
|   arun| 25|       NIT|Engineer|
|   Devi| 30|       KEC|Engineer|
|    Bob| 22|      null|Engineer|
|Charlie| 35|      null|Engineer|
|  Alice| 28|      null|Engineer|
+-------+---+----------+--------+

In [ ]:
# Define conditions to identify rows to update
update_condition = (col("name").isin(["Alice", "Charlie"]))

# Define transformations for the updates
job_update_expr = when(update_condition, lit("Senior") + col("job")).otherwise(col("job"))
age_update_expr = when(update_condition, col("age") + 5).otherwise(col("age"))

# Create a new DataFrame with the updates
updated_df = df_with_job.withColumn("job", job_update_expr).withColumn("age", age_update_expr)

# Show the updated DataFrame
print("Updated DataFrame:")
updated_df.show();

Updated DataFrame:
+-------+---+----------+--------+
|   name|age|new_column|     job|
+-------+---+----------+--------+
|   arun| 25|       NIT|Engineer|
|   Devi| 30|       KEC|Engineer|
|    Bob| 22|      null|Engineer|
|Charlie| 40|      null|    null|
|  Alice| 33|      null|    null|
+-------+---+----------+--------+

In [ ]:
# Define conditions to identify rows to update
from pyspark.sql.types import StringType
update_condition = (col("name").isin(["Alice", "Charlie"]))

# Define transformations for the updates
job_update_expr = when(update_condition, "Senior Engr" ).otherwise(col("job")).cast(StringType())
age_update_expr = when(update_condition, col("age") + 5).otherwise(col("age"))

# Create a new DataFrame with the updates
updated_df = df_with_job.withColumn("job", job_update_expr).withColumn("age", age_update_expr)

# Show the updated DataFrame
print("Updated DataFrame:")
updated_df.show()

Updated DataFrame:
+-------+---+----------+-----------+
|   name|age|new_column|        job|
+-------+---+----------+-----------+
|   arun| 25|       NIT|   Engineer|
|   Devi| 30|       KEC|   Engineer|
|    Bob| 22|      null|   Engineer|
|Charlie| 40|      null|Senior Engr|
|  Alice| 33|      null|Senior Engr|
+-------+---+----------+-----------+

In [ ]:
updated_df.write.saveAsTable("new_table_name_6", format="parquet", mode="overwrite")

In [ ]:
#record_to_delete = "name = 'Bob'"
 # Define the condition to identify the record to delete
#spark.sql("DELETE FROM new_table_name_3 WHERE name='Bob'")

In [ ]:
updated_df = updated_df.filter(df['name'] != 'Bob')
updated_df.show()

+-------+---+----------+-----------+
|   name|age|new_column|        job|
+-------+---+----------+-----------+
|   arun| 25|       NIT|   Engineer|
|   Devi| 30|       KEC|   Engineer|
|Charlie| 40|      null|Senior Engr|
|  Alice| 33|      null|Senior Engr|
+-------+---+----------+-----------+

In [ ]:
# Define the conditions for record deletion
#delete_condition = ((df['name'] == 'Bob') | ((df['age'] >= 30) & (df['job'] == 'Manager')))

# Define the conditions for record deletion
#delete_condition = ((updated_df['name'] == 'Bob') | ((updated_df['age'] >= 30) | (updated_df['job'] == 'Manager')))
delete_condition = ( ((updated_df['age'] >= 30) | (updated_df['job'] == 'Manager')))
# Filter the DataFrame to exclude rows matching the conditions
filtered_df = updated_df.filter(~delete_condition)
filtered_df.show()

+----+---+----------+--------+
|name|age|new_column|     job|
+----+---+----------+--------+
|arun| 25|       NIT|Engineer|
+----+---+----------+--------+