<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Pyspark_Hadoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:7 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [849 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [834 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [49.9 kB]
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,235 kB]
Hit:13 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,103 kB]
Hit:15 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 4,412 kB in 3s (1,694 kB/s)
Reading package lists... Done

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq> /dev/null

In [ ]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285397 sha256=a7ba2047d361bffde2f540e9986a7424aa787ffabd486efa36ea93f478eea110
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
!ls

sample_data  spark-3.0.0-bin-hadoop3.2	spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
from pyspark.sql import SparkSession
sc = SparkSession.builder.master("local[1]").appName("SparkByExample.com").getOrCreate()

In [ ]:
s = sc.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd = s.parallelize(data)
print(rdd.count())

12

In [ ]:
print(rdd.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#action
rdd.first()

1

In [ ]:
#action
print(rdd.take(10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
s = sc.sparkContext
data = [1,2,3,4,5,1000]
rdd = s.parallelize(data)
print(rdd.reduce(lambda x,y : x+y))
print(rdd.reduce(lambda x,y : x-y))
print(rdd.reduce(lambda x,y : x*y))
print(rdd.reduce(lambda x,y : x/y))

1015
-1013
120000
8.333333333333334e-06

In [ ]:
#SAVE AS TEXT FILE
s = sc.sparkContext
save_rdd = s.parallelize([1,2,3,4,5])
save_rdd.saveAsTextFile('file3.txt')

In [ ]:
#MAP
my_rdd = s.parallelize([1,2,3,4])
print(my_rdd.map(lambda x:x +10))
print(my_rdd.map(lambda x:x +10).collect())

PythonRDD[14] at RDD at PythonRDD.scala:53
[11, 12, 13, 14]

In [ ]:
#filter

filter_rdd = s.parallelize([10,12,14,16,45,7])
print(filter_rdd.filter(lambda x : x%2 ==0).collect())

[10, 12, 14, 16]

In [ ]:
filter_rdd2 = s.parallelize(['abi','subha','anu','krithi','sam'])
print(filter_rdd2.filter(lambda x : x.startswith('a')).collect())

['abi', 'anu']

In [ ]:
#union
union_inp = s.parallelize([1,2,3,4,55,68])
union_rdd_1 = union_inp.filter(lambda x : x%2==0)
union_rdd_2 = union_inp.filter(lambda x: x%3==0)
print(union_rdd_1.union(union_rdd_2).collect())

[2, 4, 68, 3]

In [ ]:
#intersection
union_inp = s.parallelize([1,2,3,4,6,55,68])
rdd_1 = union_inp.filter(lambda x : x%2==0)
rdd_2 = union_inp.filter(lambda x: x%3==0)
print(rdd_1.subtract(rdd_2).collect())

[2, 4, 68]

In [ ]:
#FILTER MAP
flatmap_rdd = s.parallelize(["hey there", "welcome to pyspark RDD and spark learning"])
(flatmap_rdd.flatMap(lambda x:x.split(" ")).collect())

['hey', 'there', 'welcome', 'to', 'pyspark', 'RDD', 'and', 'spark', 'learning']

In [ ]:
#mapValues : applies function to values in each key pair

pair_rdd = s.parallelize([(1,'apple'),(2,'banana'),(3,'mango'),(4,'grapes')])

def append_fruit(value):
  return value + ' fruit'

modified_rdd = pair_rdd.mapValues(append_fruit)
result = modified_rdd.collect()
print(result)

[(1, 'apple fruit'), (2, 'banana fruit'), (3, 'mango fruit'), (4, 'grapes fruit')]

In [ ]:
#PYSPARK PAIR RDD OPERATIONS


m = [('abi',99),("banu",89),("geeth",90)]
s.parallelize(m).collect()

[('abi', 99), ('banu', 89), ('geeth', 90)]

In [ ]:
m_rdd = s.parallelize([('abi',99),("banu",89),("geeth",90),('abi',77),('geeth',80)])
print(m_rdd.reduceByKey(lambda x,y:x+y).collect())

[('abi', 176), ('banu', 89), ('geeth', 170)]

In [ ]:
m_rdd = s.parallelize([('abi',99),("banu",89),("geeth",90),('abi',77),('geeth',80)])
print(m_rdd.sortByKey(ascending=True).collect())

[('abi', 99), ('abi', 77), ('banu', 89), ('geeth', 90), ('geeth', 80)]

In [ ]:
#gropu by
m_rdd = s.parallelize([('abi',99),("banu",89),("geeth",90),('abi',77),('geeth',80)])
d_rdd = m_rdd.groupByKey().collect()
print(d_rdd)
for key, value in d_rdd:
  print(key, list(value))

[('abi', <pyspark.resultiterable.ResultIterable object at 0x7f702c19a7a0>), ('banu', <pyspark.resultiterable.ResultIterable object at 0x7f6ffa6606d0>), ('geeth', <pyspark.resultiterable.ResultIterable object at 0x7f6ffa6606a0>)]
abi [99, 77]
banu [89]
geeth [90, 80]

In [ ]:
#count by key
maq_rdd = s.parallelize([('abi',99),("banu",89),("geeth",90),('abi',77),('geeth',80)])
d_rdd = maq_rdd.countByKey().items()
print(d_rdd)
for key, value in d_rdd:
  print(key, value)

dict_items([('abi', 2), ('banu', 1), ('geeth', 2)])
abi 2
banu 1
geeth 2