<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/spark_fuctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=ad7474d54d27070eb91bc156666bbbd63f12987fd992133de43f218d7dac8df8
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
sc = spark.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)
print(rdd.count())

12

In [ ]:
sc = spark.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)
print(rdd.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
print(rdd.first())

1

In [ ]:
from pyspark import SparkContext
spark =SparkContext.getOrCreate()
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=spark.parallelize(data)
print(rdd.take(5))

[1, 2, 3, 4, 5]

In [ ]:
from pyspark import SparkContext
spark =SparkContext.getOrCreate()
data = [1,2,3,4,5,]
rdd=spark.parallelize(data)
print(rdd.reduce(lambda x, y : x + y))

15

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

reduce_rdd = sc.parallelize([1,3,4,6])
print(reduce_rdd.reduce(lambda x, y : x + y))

14

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
save_rdd = sc.parallelize([1,2,3,4,5,6])
save_rdd.saveAsTextFile('file.txt')

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
my_rdd = sc.parallelize([1,2,3,4])
print(my_rdd.map(lambda x: x+ 10).collect())

[11, 12, 13, 14]

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
filter_rdd = sc.parallelize([2, 3, 4, 5, 6, 7])
print(filter_rdd.filter(lambda x: x%2 == 0).collect())

[2, 4, 6]

In [ ]:
filter_rdd_2 = sc.parallelize(['swetha', 'gokul', 'vicky', 'vidhya'])
print(filter_rdd_2.filter(lambda x: x.startswith('g')).collect())

['gokul']

In [ ]:
union_inp = sc.parallelize([2,4,5,6,7,8,9])
rdd_1 = union_inp.filter(lambda x: x % 2 == 0)
rdd_2 = union_inp.filter(lambda x: x % 3 == 0)
print(rdd_1.union(rdd_2).collect())

[2, 4, 6, 8, 6, 9]

In [ ]:
inp = sc.parallelize([1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20])
rdd_1 = inp.filter(lambda x: x % 2 == 0)
rdd_2 = inp.filter(lambda x: x % 3 == 0)
print(rdd_1.intersection(rdd_2).collect())

[6, 12, 18]

In [ ]:
inp = sc.parallelize([1,2,4,5,6,7,8,9,10])
rdd_1 = inp.filter(lambda x: x % 2 == 0)
rdd_2 = inp.filter(lambda x: x % 3 == 0)
print(rdd_1.subtract(rdd_2).collect())

[2, 4, 8, 10]

In [ ]:
flatmap_rdd = sc.parallelize(["Hey there", "This is PySpark RDD Transformations"])
(flatmap_rdd.flatMap(lambda x: x.split(" ")).collect())

['Hey', 'there', 'This', 'is', 'PySpark', 'RDD', 'Transformations']

In [ ]:
from pyspark import SparkContext, SparkConf
pair_rdd = sc.parallelize([(1, 'apple'), (2, 'banana'), (1, 'orange'), (2, 'grape')])


def append_fruit(value):
    return value + " fruit"

modified_rdd = pair_rdd.mapValues(append_fruit)
result = modified_rdd.collect()
print(result)

[(1, 'apple fruit'), (2, 'banana fruit'), (1, 'orange fruit'), (2, 'grape fruit')]

In [ ]:
marks = [('swetha', 88), ('vivin', 92), ('gokul', 83), ('vicky', 93), ('vidhya', 78)]
sc.parallelize(marks).collect()

[('swetha', 88), ('vivin', 92), ('gokul', 83), ('vicky', 93), ('vidhya', 78)]

In [ ]:
marks_rdd = sc.parallelize([('swetha', 25), ('vivin', 26), ('gokul', 22), ('vicky', 29), ('vidhya', 22), ('swetha', 23), ('vivin', 19), ('gokul', 28), ('vicky', 26), ('vidhya', 22)])
print(marks_rdd.reduceByKey(lambda x, y: x + y).collect())

[('swetha', 48), ('vivin', 45), ('gokul', 50), ('vicky', 55), ('vidhya', 44)]

In [ ]:
marks_rdd = sc.parallelize([('swetha', 25), ('vivin', 26), ('gokul', 22), ('vicky', 29), ('vidhya', 22), ('swetha', 23), ('vivin', 19), ('gokul', 28), ('vicky', 26), ('vidhya', 22)])
print(marks_rdd.sortByKey(ascending=True).collect())

[('gokul', 22), ('gokul', 28), ('swetha', 25), ('swetha', 23), ('vicky', 29), ('vicky', 26), ('vidhya', 22), ('vidhya', 22), ('vivin', 26), ('vivin', 19)]

In [ ]:
marks_rdd = sc.parallelize([('swetha', 25), ('vivin', 26), ('gokul', 22), ('vicky', 29), ('vidhya', 22), ('swetha', 23), ('vivin', 19), ('gokul', 28), ('vicky', 26), ('vidhya', 22)])
dict_rdd = marks_rdd.groupByKey().collect()
for key, value in dict_rdd:
    print(key, list(value))

swetha [25, 23]
vivin [26, 19]
gokul [22, 28]
vicky [29, 26]
vidhya [22, 22]

In [ ]:
marks_rdd = sc.parallelize([('swetha', 25), ('vivin', 26), ('gokul', 22), ('vicky', 29), ('vidhya', 22), ('kabi', 23), ('vinoth', 19), ('anu', 28), ('renu', 26), ('gokul', 22)])
dict_rdd = marks_rdd.countByKey().items()
for key, value in dict_rdd:
    print(key, value)

swetha 1
vivin 1
gokul 2
vicky 1
vidhya 1
kabi 1
vinoth 1
anu 1
renu 1