<a href="https://colab.research.google.com/github/Vasugi2003/Big-Data-Analytics/blob/main/Spark_Context.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=c73130fac3694107c3940272506854fcaabd4f243e1f34c70ede9981c4e09c68
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
sc = spark.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)
print(rdd.count())

12

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
sc = spark.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)
print(rdd.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
print(rdd.first())

1

In [ ]:
from pyspark import SparkContext
spark =SparkContext.getOrCreate()
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=spark.parallelize(data)
print(rdd.take(5))

[1, 2, 3, 4, 5]

In [ ]:
from pyspark import SparkContext
spark =SparkContext.getOrCreate()
data = [1,2,3,4,5,]
rdd=spark.parallelize(data)
print(rdd.reduce(lambda x, y : x + y))

15

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

reduce_rdd = sc.parallelize([1,3,4,6])
print(reduce_rdd.reduce(lambda x, y : x + y))

14

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
save_rdd = sc.parallelize([1,2,3,4,5,6])
save_rdd.saveAsTextFile('file.txt')

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
my_rdd = sc.parallelize([1,2,3,4])
print(my_rdd.map(lambda x: x+ 10).collect())

[11, 12, 13, 14]

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
filter_rdd = sc.parallelize([2, 3, 4, 5, 6, 7])
print(filter_rdd.filter(lambda x: x%2 == 0).collect())

[2, 4, 6]

In [ ]:
filter_rdd_2 = sc.parallelize(['abi', 'banu', 'rani', 'ram', 'vikram'])
print(filter_rdd_2.filter(lambda x: x.startswith('g')).collect())

[]

In [ ]:
union_inp = sc.parallelize([2,4,5,6,7,8,9])
union_rdd_1 = union_inp.filter(lambda x: x % 2 == 0)
union_rdd_2 = union_inp.filter(lambda x: x % 3 == 0)
print(union_rdd_1.union(union_rdd_2).collect())

[2, 4, 6, 8, 6, 9]

In [ ]:
inp = sc.parallelize([1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20])
rdd_1 = inp.filter(lambda x: x % 2 == 0)
rdd_2 = inp.filter(lambda x: x % 3 == 0)
print(rdd_1.intersection(rdd_2).collect())

[6, 12, 18]

In [ ]:
inp = sc.parallelize([1,2,4,5,6,7,8,9,10])
rdd_1 = inp.filter(lambda x: x % 2 == 0)
rdd_2 = inp.filter(lambda x: x % 3 == 0)
print(rdd_1.subtract(rdd_2).collect())

[2, 4, 8, 10]

In [ ]:
flatmap_rdd = sc.parallelize(["Hey there", "This is PySpark RDD Transformations"])
(flatmap_rdd.flatMap(lambda x: x.split(" ")).collect())

['Hey', 'there', 'This', 'is', 'PySpark', 'RDD', 'Transformations']

In [ ]:
from pyspark import SparkContext, SparkConf


pair_rdd = sc.parallelize([(1, 'apple'), (2, 'banana'), (1, 'orange'), (2, 'grape')])


def append_fruit(value):
    return value + " fruit"


modified_rdd = pair_rdd.mapValues(append_fruit)


result = modified_rdd.collect()
print(result)

[(1, 'apple fruit'), (2, 'banana fruit'), (1, 'orange fruit'), (2, 'grape fruit')]

In [ ]:
marks = [('abi', 88), ('banu', 92), ('divi', 83), ('rani', 93), ('nithu', 78)]
sc.parallelize(marks).collect()

[('abi', 88), ('banu', 92), ('divi', 83), ('rani', 93), ('nithu', 78)]

In [ ]:
marks_rdd = sc.parallelize([('guru', 25), ('janu', 26), ('rain', 22), ('prabu', 29), ('ramu', 22), ('preethi', 23), ('abinaya', 19), ('bhavani', 28), ('sriram', 26), ('sandhya', 22)])
print(marks_rdd.reduceByKey(lambda x, y: x + y).collect())

[('guru', 25), ('janu', 26), ('rain', 22), ('prabu', 29), ('ramu', 22), ('preethi', 23), ('abinaya', 19), ('bhavani', 28), ('sriram', 26), ('sandhya', 22)]

In [ ]:
marks_rdd = sc.parallelize([('guru', 25), ('janu', 26), ('rain', 22), ('prabu', 29), ('ramu', 22), ('preethi', 23), ('abinaya', 19), ('bhavani', 28), ('sriram', 26), ('sandhya', 22)])
print(marks_rdd.sortByKey(ascending=True).collect())

[('abinaya', 19), ('bhavani', 28), ('guru', 25), ('janu', 26), ('prabu', 29), ('preethi', 23), ('rain', 22), ('ramu', 22), ('sandhya', 22), ('sriram', 26)]

In [ ]:
marks_rdd = sc.parallelize([('guru', 25), ('janu', 26), ('rain', 22), ('prabu', 29), ('ramu', 22), ('preethi', 23), ('abinaya', 19), ('bhavani', 28), ('sriram', 26), ('sandhya', 22)])
dict_rdd = marks_rdd.groupByKey().collect()
for key, value in dict_rdd:
    print(key, list(value))

guru [25]
janu [26]
rain [22]
prabu [29]
ramu [22]
preethi [23]
abinaya [19]
bhavani [28]
sriram [26]
sandhya [22]

In [ ]:
marks_rdd = sc.parallelize([('guru', 25), ('janu', 26), ('rain', 22), ('prabu', 29), ('ramu', 22), ('preethi', 23), ('abinaya', 19), ('bhavani', 28), ('sriram', 26), ('sandhya', 22)])
dict_rdd = marks_rdd.countByKey().items()
for key, value in dict_rdd:
    print(key, value)

guru 1
janu 1
rain 1
prabu 1
ramu 1
preethi 1
abinaya 1
bhavani 1
sriram 1
sandhya 1